<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Metadata Details</title>
</head>
<body>
<div align="center">
    <h1>Metadata Details</h1>
    <a href="/metadata/upload/">Upload New Metadata</a>
    <br/><br/>
    <a href="/metadata/">Metadata List</a>
    <br/><br/>

    <h2>Field Details</h2>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Field Name</th>
            <th>Field Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="field : ${metaData.getFields()}">
            <td th:text="${field.getName()}">Name</td>
            <td th:text="${field.getFieldType().name()}">Description</td>
        </tr>
        </tbody>
    </table>


    <br/><br/>

    <h2>Upload Data</h2>

    <form method="post" action="/metadata/data/add/" enctype="multipart/form-data">
        <input type="hidden" th:value="${metaData.getId()}" name="metaDataId" />
        <table border="1" cellpadding="10">
            <tr>
                <td>Please choose Data File (.xls)</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Save Data For Metadata"/></td>
            </tr>
        </table>
    </form>

    <br/><br/>

    <h2>Data Details</h2>

    <table border="1" cellpadding="10">
        <thead>
        <tr class="headings">
            <th th:each="header: ${tableData.headers}" class="column-title" th:text="${header}" />
        </tr>
        </thead>

        <tbody>
        <tr class="even pointer" th:each="row: ${tableData.data}" id="tableRow">
            <td th:each="header: ${tableData.headers}" th:text="${row.get(header)}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>