<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Metadata List</title>
</head>
<body>
<div align="center">
    <h1>Metadata List</h1>
    <a href="/metadata/upload/">Upload New Metadata</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="metaData : ${metaDataList}">
            <td th:text="${metaData.getName()}">Name</td>
            <td th:text="${metaData.getDescription()}">Description</td>
            <td>
                <a th:href="@{/metaData/file/{id}(id=${metaData.getId()})}">File</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/metaData/data/{id}(id=${metaData.getId()})}">Data</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>